

    <div class="container">
        
        <div class="row row-content" ng-controller="TwitterController">
                    
        <div class="tab-content">
            <ul class="media-list tab-pane fade in active">
                <li class="media" ng-repeat="dish in dishes | filter:filtText" >
                    <div class="media-left media-middle">
                        <a ui-sref="app.dishdetails({id: dish.id})">
                        <img class="media-object img-thumbnail"
                         ng-src={{dish.image}} alt="Uthappizza">
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">{{dish.name}}
                         <span class="label label-danger">{{dish.label}}</span>
                         <span class="badge">{{dish.price | currency}}</span></h2>
                        <p ng-show="showDetails">{{dish.description}}</p>
                        
                    </div>
                </li>
            </ul>
        </div>
        </div>   
    </div>
    </div>


